<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"
        <title>Login</title>
    </head>
    <body>
        <div>
            <form action="" method="POST">
                <label>USERNAME</label><br>
                <input name="username" type="email" placeholder="Type your username"><br>
                <label>PASSWORD</label><br>
                <input name="password" type="password" placeholder="Type your password"><br>
                <input type="submit" value="LOGIN"><br>
            </form>
        </div>
        <div>
            <form action="/register">
                <label>New User?</label>
                <input value="Register" type="submit">
            </form>
        </div>
    </body>
</html>