<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Profile</title>
    </head>
    <body>
        <img class="profile_img" src="{{ url_for('static', filename='logo.png') }}">
        <div class="profile">
            <p class="sign" align="center">{{ data.name }} </p>
            <p align="center">
                <img class="profile_img" src="{{ url_for('static', filename=data.profile_pic) }}">
            </p>
            <p class="profile_items" align="center">{{ data.occupation }}</p>
            <p class="profile_items" align="center">{{ data.location }}</p>
            <p class="profile_items" align="center">{{ data.email }}</p>
            <div>
                <p class="link" align="center"><a href="/landing">My Page</a></p>
            </div>
            <br><br>
        </div>
    </body>
</html>