<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
    </head>
    <body>
        <div>
            <form method="POST">
                <label>Full Name</label><br>
                <input type="text" name="name" id="name"><br><br>
                <label>Email Address</label><br>
                <input type="email" name="email" id="email"><br><br>
                <label>Password</label><br>
                <input type="password" name="password" id="password"><br><br>
                <input type="submit" name="Sign Up"><br>
            </form>
        </div>
    </body>
</html>