<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>New User Registeration</title>
    </head>

    <body>
        <div class="main">
            <form method="POST">
                <p class="sign" align="center">Sign Up</p>
                <input class="un" align="center" type="text" name="name" id="name" placeholder="Type your name"><br>
                <input class="un" align="center" type="email" name="email" id="email" placeholder="Type your email"><br>
                <input class="pass" align="center" type="password" name="password" id="password" placeholder="Type your password"><br>
                <input class="submit" align="center" type="submit" name="register" value="SUBMIT"><br>
            </form>
            <p class="link" align="center">Already have an account? <a href="/">Sign In</p>
        </div>
    </body>
</html>